<tr>
  <td><input type="checkbox" name="project_email[recipients[<%= r.user_id %>[to]]]" value="1" <%= 'checked="true"' if r.to %></td>
  <td><input type="checkbox" name="project_email[recipients[<%= r.user_id %>[cc]]]" value="1" <%= 'checked="true"' if r.cc %></td>
  <td><input type="checkbox" name="project_email[recipients[<%= r.user_id %>[bcc]]]" value="1" <%= 'checked="true"' if r.bcc %></td>
  <td><%= r.name %></td>
  <% if r.mail and not r.mail.blank? then %>
    <td>(<%= r.mail %>)</td>
  <% else %>
    <td><%= le(:message_no_email_on_file) %></td>
  <% end %>
</tr>
