<% if emails.each_with_index do |email, i| %>
  <tr class="alt-<%= i % 2 %>">
    <td>
      <%= email.subject %>
    </td>
    <td>
      <%= email.body_summary 100 %>
    </td>
    <td>
      <%= link_to l(:link_edit), { :action => :compose, :project_id => @project.identifier, :email_id => email.id } %>
    </td>
    <td>
      <%= link_to l(:link_delete), { :action => :delete, :project_id => @project.identifier, :email_id => email.id } %>
    </td>
  </tr>
  <% end.empty? %>
  <tr>
    <td colspan="4">
      <%= l(empty_message) %>
    </td>
  </tr>
<% end %>
