<% content_for :header_tags do %>
  <%= stylesheet_link_tag :project_email, :plugin => :redmine_project_email %>
<% end %>

<% labelled_tabular_form_for :project_email, @email,
  :url => { :controller => :project_email, :action => :save },
  :html => { :multipart => true, :id => 'project-email-form', :class => 'tabular' } do |f|
%>
<div class="box">
  <p>
  <label for="sender"><%= le(:field_sender) %></label>
  <span name="sender"><%= @email.sender.name %> (<%= @email.sender.mail %>)</span>
  </p>

  <p>
  <label for="recipients"><%= le(:field_recipients) %></label>
  <span class="table" name="recipients">
    <span class="table-header">
      <span class="table-cell"><%= le(:label_to) %></span>
      <span class="table-cell"><%= le(:label_cc) %></span>
      <span class="table-cell"><%= le(:label_bcc) %></span>
      <span class="table-cell"><%= le(:label_name) %></span>
      <span class="table-cell"><%= le(:label_email) %></span>
    </span>
    <% @available_recipients.each do |r| %>
      <span class="table-row">
        <span class="table-cell"><input type="checkbox" name="project_email[recipients[<%= r.user_id %>[to]]]" value="true" <%= 'checked="true"' if r.to %>/></span>
        <span class="table-cell"><input type="checkbox" name="project_email[recipients[<%= r.user_id %>[cc]]]" value="true" <%= 'checked="true"' if r.cc %>/></span>
        <span class="table-cell"><input type="checkbox" name="project_email[recipients[<%= r.user_id %>[bcc]]]" value="true" <%= 'checked="true"' if r.bcc %>/></span>
        <span class="table-cell"><%= r.name %></span>
        <span class="table-cell">(<%= r.mail %>)</span>
      </span>
    <% end %>
  </span>
  </p>

  <p><%= f.text_field :subject, :size => 80 %></p>
  <p><%= f.text_area :body, :cols => 60, :rows => (@email.body.blank? ? 10 : [[10, @email.body.count('\n')].max, 100].min) %></p>

  <%= f.hidden_field :project_id %>
  <%= f.hidden_field :id if not @email.id.nil? %>
</div>

<%= submit_tag le(:button_send), :name => :send %>
<%= submit_tag le(:button_save_draft) %>
<% end %>

