<% content_for :header_tags do %>
  <%= stylesheet_link_tag :project_email, :plugin => :redmine_project_email %>
<% end %>

<h1>Email</h1>

<% # We're using a form here so we can use the default button style for the theme %>
<% form_for :project_email, :url => { :controller => :project_email, :action => :compose }, :html => { :method => :get } do |f| %>
  <input type="hidden" name="project_id" value="<%= @project.identifier %>" />
  <input type="submit" value="Compose" />
<% end %>

<table id="email-table">
  <tbody>
    <tr>
      <td colspan="4">
        <h2><%= l(:label_drafts) %></h2>
      </td>
    </tr>
    <%= render :partial => 'email_list', :locals => { :emails => @drafts, :empty_message => :message_no_drafts } %>

    <tr>
      <td colspan="4">
        <h2><%= l(:label_sent) %></h2>
      </td>
    </tr>
    <%= render :partial => 'email_list', :locals => { :emails => @sent, :empty_message => :message_no_sent } %>
  </tbody>
</table>
